<div class="container mt-5">


  <div class="row">
    <div class="col-sm-8 logDiv">
      <div class="card">
        <div class="card-body">

          <form class="Myform" action="/login" method="POST">
            <div class="form-group">
              <label for="Email">Email</label>
              <input type="email" class="form-control" name="username" placeholder="Enter email">
              <br>
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
              <a href="/forget_password" role="button">Forget Password?</a>
              <br>
              <div>
                <br>
                    <button type="submit" class="btn btn-dark">Sign-In</button>
              </div>

        </form>

        </div>
      </div>

    </div>





  </div>
</div>
