<%- include('partials/header') %>

<h1 style="text-align:center; color:grey">Contact Application</h1>
<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr> -->
    <!-- <form class="" action="index.html" method="post"> -->

      <h2>Sign-In</h2>
      <br>
      <p>Don't have an account?<a href="/register" role="button">Sign-up</a></p>
      <%- include('partials/login.ejs') %>


    <!-- <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> -->


    <!-- </form> -->

  </div>
</div>

<%- include('partials/footer') %>
